.row{
    display: flex;
    flex-direction: row;
    
}
button{
    width:150px;
    height:50px;
    border-radius: 15px;
    font-size: larger;
    cursor: pointer;
}
.primary{
    background-color: rgb(63, 243, 63);
    color: white;
    border: 1px solid rgb(67, 219, 67);
}
.primary:hover{
    background-color: white;
    color: rgb(63, 243, 63);
    border: 1px solid rgb(63, 243, 63);
}
.secondary{
    background-color: white;
    color: rgb(63, 243, 63);
    border: 1px solid rgb(63, 243, 63);
}
.secondary:hover{
     background-color: rgb(63, 243, 63);
    color: white;
    border: 1px solid rgb(132, 237, 132);
}
.btns{
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media (max-width:520px) {
  button{
    width:100px;
    height:40px;
    border-radius: 7px;
    font-size: large;
    cursor: pointer;
}
.head{
    font-size: larger;
}
.box input {
    height: 6vh;
    width: 3vw;
    padding-left: 6vw;
    border: 1px solid black;
    caret-color: white;
    font-size: larger;
    cursor: pointer;
}
}